@import "tailwindcss";

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --border: oklch(0.922 0 0);
}

@theme inline {
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --color-border: var(--border);
}

@layer base {
  * { @apply border-border; }
  body { @apply bg-background text-foreground; }
}
